Actividad 5/Alumnado/AlumnadoSchema.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Alumnado">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Alumno" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NIF" type="xs:string"/>
              <xs:element name="resultado" type="xs:string"/>
              <xs:element name="observaciones" type="xs:string"/>
              <xs:element name="IP_Mac" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>