Actividad 2/Concesionario.dtd

<!ELEMENT Concesionario (coche*)>
<!ELEMENT coche (codCoche, marca, modelo, matricula, potencia, plazas, numPuertas)>
<!ELEMENT codCoche (#PCDATA)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT matricula (#PCDATA)>
<!ELEMENT potencia (caballos)>
<!ELEMENT caballos (#PCDATA)>
<!ELEMENT plazas (#PCDATA)>
<!ELEMENT numPuertas (#PCDATA)>